.sidebar {
  grid-area: sidebar;
  background-color: #f5f5f5;
}

.sidebar__logo > a {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  transition: 0.2s;
  margin: 0.5rem auto;
  display: block;
  text-align: center;
}

.sidebar__logo > a:hover {
  color: #ffffff;
}

.sidebar__logo__collapsed_true > a {
  font-size: 16px;
  transition: 0.2s;
}

.sidebar__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}