.home {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'header header'
    'sidebar main'
  ;
  height: 100vh;
}

.main {
  grid-area: main;
}