.App {
  text-align: center;
}

.App__logo > a {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  transition: 0.2s;
  margin: 0.5rem auto;
  display: block;
}

.App__logo > a:hover {
  color: #ffffff;
}

.App__logo-collapsed-true > a {
  font-size: 16px;
  transition: 0.2s;
}