.pdfViewer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdfViewer__document {
  max-width: 90%;
  max-height: 90%;
  overflow: visible;
}

.pdfViewer__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
}

.pdfViewer__buttons>button {
  margin: 10px;
}